@model IEnumerable<DatabasFinal.Models.TempratureData>




@{
    ViewData["Title"] = "Search by date";
}



<h1>Välj datum att söka efter</h1>



<form asp-action="SearchByDate">


    <input type="date" name="firstDate" value="2016-05-31" />
    <input type="date" name="secondDate" value="2016-05-31" />

    <input type="submit" name="submit" value="Search" />


</form>





<h2>Temperaturer Inomhus</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)

            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Temperature)°C

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)

            </th>
            <th>
                 @Html.DisplayNameFor(model => model.MouldRisk)%

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Where(x => x.Location == "Inne"))
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature) °C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MouldRisk) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

            </tr>
        }
    </tbody>
</table>
<br />
<br />
<h2>Temperaturer Utomhus</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature) °C
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MouldRisk) %
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>





    <tbody>
        @foreach (var item in Model.Where(x => x.Location == "Ute"))
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature) °C
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MouldRisk) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

            </tr>
        }
    </tbody>
</table>


